#container {
    text-align: left;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 34%;
    padding: 20px;
    transform: translateY(-50%);
  }

  #container h1 {
    font-size: 25px;
    line-height: 26px;
    font-weight: bold;
  }